{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Gyebaleko, {{ customer.firstName }} {{ customer.lastName }}</h2>
    <div class="account-info">
        <p>Account Number: {{ customer.accountNo }}</p>
        <p>Balance: {{ customer.balance }} UGX</p>
    </div>
    
    <div class="actions">
        <h3>____Operations____</h3>
        <form method="POST" action="{{ url_for('deposit') }}">
            <input type="number" name="amount" placeholder="Amount" required>
            <button type="submit">Deposit</button>
        </form>
        
        <form method="POST" action="{{ url_for('withdraw') }}">
            <input type="number" name="amount" placeholder="Amount" required>
            <button type="submit">Withdraw</button>
        </form>
        
        <a href="{{ url_for('view_transactions') }}" class="button">View Transactions</a>
    </div>
{% endblock %}