{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<main>
    <h1>Agakyalimabaga</h1>
    <h2>Welcome to this wonderful esteemed group of seed farmers.</h2>
        <h3> As we always say it "We love seed"</h3>
    
    <section>
        <h3>About Us.</h3>
        <p>We are dedicated farmers who invest heavily in healthy seeds.</p>
        <p>Our community is committed to sharing quality seeds.</p>
        <p>Our mission is to continuously strive for progress in seeds.</p>
    </section>

    <footer>
        <p>© Kola Seeds Osilike. All rights reserved.</p>
    </footer>
</main>
{% endblock %}